*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 600px;
    height: 600px;
    margin: 10px auto;
    cursor: pointer;
    margin-top: 50px;
}
.box1,.box3{
    width: 100%;
    height: 40%;
    display: flex;
}
.box2{
    width: 100%;
    height: 20%;
    display: flex;
}
.row1-col1,.row1-col3,
.row3-col1,.row3-col3{
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
}

.row1-col2,.row3-col2{
    width: 20%;
    height: 100%;
}

.row2-col1,.row2-col3{
    width: 40%;
    height: 100%;
}

.row2-col2{
    width: 20%;
    height: 100%;
}

/* color */

.green{
    background-color: lab(50.3% -52.52 51.07);
    
}
.yellow{
    background-color: #947c11;
    
}

.red{
    background-color: #cf2e23;
    
}

.blue{
    background-color: #144781;
    
}

.white{
    background-color: aliceblue;
}




.row1-col1-child,
.row1-col3-child,
.row3-col1-child,
.row3-col3-child{
    width: 70%;
    height: 70%;
    border-radius: 20px;
}

.row1-col1-child>div,
.row1-col3-child>div,
.row3-col1-child>div,
.row3-col3-child>div{
    width: 35%;
    height: 35%;
    margin: 7.5%;
    float: left;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 23),0 3px 6px rgba(0, 0, 0, 23);
    transition: all 0.3s cubic-bezier(.25,.8,25,5);

}
.row1-col1-child>div:hover,
.row1-col3-child>div:hover,
.row3-col1-child>div:hover,
.row3-col3-child>div:hover{
    box-shadow: -2px 14px 28px rgba(0, 0, 0, .25),-2px 10px 28px rgba(0, 0, 0, .22);
}

/* cell */

.row1-col2>div,
.row3-col2>div{
    width: 33.33%;
    height: 16.667%;
    float: left;
    border: 1px solid black;
    border-radius: 6px;
}
.row2-col1>div,
.row2-col3>div{
    width: 16.667%;
    height: 33.33%;
    float: left;
    border: 1px solid rgba(9, 10, 9, 0.568);
    border-radius: 6px;
}
.checked{
    background-color: white;
    border: 1px solid #947c11;
    width: 100%;
    height: 100%;
}

.fa-star:last-child{
    font-size: 36px;
}
.contain-triangle{
    width: 100%;
    height: 100%;
    position: relative;
}
.triangle-right{
    width: 0;
    height: 0;
    border-top:55px solid transparent;
    border-left: 55px solid #84c21f;
    border-bottom: 55px solid transparent;
    position: absolute;
    left: 0;
    top:5px ;
}
.triangle-up{
    width: 0;
    height: 0;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 55px solid rgb(194, 23, 23);
    position: absolute;
    left: 5px;
    bottom: 0;
}  

.triangle-left{
    width: 0;
    height: 0;
    border-right: 55px solid rgb(15, 52, 216);
    border-bottom: 55px solid transparent;
    border-top:55px solid transparent ;
    right: 0;
    top: 5px;
    position: absolute;
}
.triangle-down{
    width: 0;
    height: 0;
    border-left:55px solid transparent ;
    border-right: 55px solid transparent;
    border-top: 55px solid yellow;
    position: absolute;
    right: 5px;
    top:0 ;
}